<?xml version="1.0"?>
<launch>
    <!-- robot -->
    <include file="$(find sphero_rvr_control)launch/sphero_rvr_control.launch"/>

    <!-- controllers -->
    <include file="$(find sphero_rvr_controllers)launch/sphero_rvr_controllers.launch"/>

    <!-- lidar -->
    <include file="$(find ldlidar_stl_ros)launch/ld06.launch"/>
</launch>
